<%- include('header', {title: 'Vélos', leaflet: false, css: [], js: [], banner: false}); -%>

<div class="row">
    <h1>L'ensemble de nos vélos en cours d'utilisation</h1>
    <div class="col s4">
        <a class="waves-effect waves-light btn" href="/bikes/allBikes">Filtrer tous les vélos</a>
    </div>
    <div class="col s4">
    <a class="waves-effect waves-light btn" href="/bikes/availableBikes">Filtrer les vélos disponibles actuellement</a>
    </div>
    <div class="col s4">
        <a class="waves-effect lighten-2 waves-light btn" href="/bikes/addBike"> <i class="material-icons left">directions_bike</i> Ajouter un vélo</a>
    </div>
</div>
<div class="row">
    <table class="centered highlight responsive-table">
        <thead class="red accent-1">
            <tr>
                <th colspan="1">Référence</th>
                <th colspan="1">Marques</th>
                <th colspan="1">Etat</th>
                <th colspan="1">Batterie</th>
            </tr>
        </thead>
        <tbody>
            <% bikes.forEach(bike => { %>
                <tr>
                    <td><%= bike.REFERENCE_VELO %></td>
                    <td><%= bike.MARQUE_VELO %></td>
                    <td><%= bike.ETAT_VELO %></td>
                    <td><%= bike.BATTERIE_VELO %></td>
            </tr>
            <% }); %>
        </tbody>
    </table>
</div>

<%- include('footer'); -%>