<%- include('header', {title: 'Les emprunts', leaflet: false, css: [], js: [], banner: false}); -%>

<div class="row">
    <div class="col s12">
        <h1>Les emprunts en cours</h1>
    </div>
</div>

<div class="row  valign-wrapper">
    <div class="col s4">
        <a class="waves-effect waves-light btn" href="/borrows/allBorrows">Filtrer tous les emprunts</a>
    </div>
    <div class="col s4">
        <a class="waves-effect waves-light btn" href="/borrows/endedBorrows">Filtrer les emprunts terminés</a>
    </div>
    <div class="col s4">
        <a class="waves-effect waves-light btn" href="/borrow">Emprunter un vélo</a>
    </div>
</div>

<div class="row">
    <div class="col s12">
        <ul class="collection">
            <% borrows.forEach(borrow => { %>
            <li class="collection-item avatar">
                <img src="/img/bbt_min_transparent.png" alt="Vélo" class="circle">
                <span class="title">Emprunt de <b><%= borrow.NOM_VELO %></b></span>
                <p>depuis <em><%= borrow.ADRESSE_STATION %></em> <br>
                    par <em><%= borrow.NOM_COMPLET_ADHERENT %></em>
                </p>
                <a href="/return/<%= borrow.ID_EMPRUNT %>" class="secondary-content tooltipped" data-position="right" data-tooltip="Rendre ce vélo">
                    <i class="material-icons">send</i>
                </a>
            </li>
            <% }); %>
        </ul>
        <% if (borrows.length <= 0) { %>
            <p>Aucun emprunt en cours...</p>
        <% } %>
    </div>
</div>

<%- include('footer'); -%>