<%- include('header', {title: 'Les emprunts', leaflet: false, css: [], js: [], banner: false}); -%>

<div class="row">
    <div class="col s12">
        <ul class="collection with-header">
            <li class="collection-header"><h1>Les emprunts en cours</h1></li>
            <% borrows.forEach(borrow => { %>
            <li class="collection-item avatar">
                <img src="/img/bbt_min_transparent.png" alt="Vélo" class="circle">
                <span class="title">Emprunt de <b><%= borrow.NOM_VELO %></b></span>
                <p>depuis <em><%= borrow.ADRESSE_STATION %></em> <br>
                    par <em><%= borrow.NOM_COMPLET_ADHERENT %></em>
                </p>
                <a href="/return/<%= borrow.ID_EMPRUNT %>" class="secondary-content tooltipped" data-position="right" data-tooltip="Rendre ce vélo">
                    <i class="material-icons">send</i>
                </a>
            </li>
            <% }); %>
        </ul>
    </div>
</div>

<%- include('footer'); -%>