<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css"/>
    <title>Bike Management App</title>
</head>
<body>
    <%- include('header'); %>
    <main>
        <h1>Station <%= station.ADRESSE_STATION %></h1>
        <h2>Informations sur la station</h2>
        <div id="station-info">
            <label for="station-borne-number">Nombre de bornes :</label>
            <p id="station-borne-number"><%= station.NOMBRE_BORNES_STATION %></p>
        </div>
        <h2>Les vélos dans cette station</h2>
        <div id="bike-list">
            <table class="center">
                <thead>
                    <tr>
                        <th colspan="1">Marque</th>
                        <th colspan="1">Référence</th>
                        <th colspan="1">Date de mise en service</th>
                        <th colspan="1">Kilométrage</th>
                        <th colspan="1">Etat</th>
                        <th colspan="1">Batterie</th>
                    </tr>
                </thead>
                <tbody>
                    <% bikes.forEach(bike => { %>
                        <tr class="bike" onclick="window.location.assign('/bike/<%= bike.ID_VELO %>')">
                            <td><%= bike.MARQUE_VELO %></td>
                            <td><%= bike.REFERENCE_VELO %></td>
                            <td><%= new Date(bike.DATE_SERVICE_VELO).toLocaleDateString() %></td>
                            <td><%= bike.KM_VELO %></td>
                            <td><%= bike.ETAT_VELO %></td>
                            <td><%= bike.BATTERIE_VELO %></td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
    </main>
    <script type="text/javascript" src="/js/station.js"></script>
</body>
</html>