<%- include('header', {title: 'Les adhérents', leaflet: false, css: [], js: []}); -%>

<h1>Rechercher les adhérents qui ont utilisés au moins <em>n</em> fois un vélo le jour <em>j</em></p>

<div class="row">
    <form class="col s12" method="POST" action="/subscribers/count/day/">
        <div class="row">
            <div class="input-field col s6">
                <input id="nbOfTimes" name="nbOfTimes" type="number">
                <label for="nbOfTimes">Nombre de fois :</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input id="day" name="day" type="date">
            </div>
        </div>
        <button type="submit" class="waves-effect waves-light btn">Rechercher</button>
    </form>
</div>

<% if (subscribers.length != 0) { %>

<h1>Adhérents qui ont utilisé au moins <em><%= nbOfTimes %></em> un vélo le <em><%= day %></em></p>

<div class="row">
    <table class="centered highlight responsive-table">
        <thead class="red accent-1">
            <tr>
                <th colspan="1">Nom</th>
                <th colspan="1">Prénom</th>
                <th colspan="1">Adresse</th>
                <th colspan="1">Date d'adhésion</th>
            </tr>
        </thead>
        <tbody>
            <% subscribers.forEach(subscriber => { %>
            <tr onclick="window.location.assign('/subscriber/<%= subscriber.ID_ADHERENT %>')">
                <td><%= subscriber.NOM_ADHERENT %></td>
                <td><%= subscriber.PRENOM_ADHERENT %></td>
                <td><%= subscriber.ADRESSE_ADHERENT %></td>
                <td><%= new Date(subscriber.DATE_ADHESION_ADHERENT).toLocaleDateString() %></td>
            </tr>
            <% }); %>
        </tbody>
    </table>
</div>

<% } %>

<%- include('footer'); -%>